__pycache__/
*.py[cod]
.pytest_cache/

dist/
build/
*.egg-info/
.venv/

.DS_Store
Thumbs.db
*:Zone.Identifier

.vscode/
.idea/

.coverage
htmlcov/

.env

# output of examples/LinRamanSpec/02_vibpol_raman_spec_rot.py
examples/LinRamanSpec/formaldehyde_polaraxis.xyz
